{{$featuredProj := (index (index .SiteContent "projects") "featuredProjects")}}
{{$miniProj := (index (index .SiteContent "projects") "miniProjects")}}
{{$retiredProj := (index (index .SiteContent "projects") "retiredProjects")}}


<div style="margin-bottom: 10em; margin-top: 10em;">
    <h1>SOFTWARE ENGINEERING WITH RESPECT</h1> 
    <h5>Join me in bringing empathy and respect to the software industry</h5>
</div>

{{define "project-card"}}
<div class="col-sm-12 col-lg-6  pt-4">
    <div class="project overflow-hidden">
        <a href="{{.ImageURL}}">
            <img src="{{.Image}}" alt="{{.Title | noescape}}" class="lg:h-48 md:h-36 object-cover object-center" style="width:100%"/>
        </a>

        <h3>{{.Title | noescape}}</h3> 
        <div class="" style="margin-left:1em;">
            <h6>{{.Subtitle}}</h6>
            {{range .Tags}}
                <span class="badge bg-secondary">{{.}}</span> 
            {{end}}
        </div>

        <p>{{.Description}}</p> 

        <ul class="nav justify-content-center">
            {{range .URLs }}
                {{if (eq (.|geturltag) "demo")}}
                    <li class="nav-item mr-1 proj-link"><a href="{{.|removeurltag}}"><img src="/images/demo.png" alt="GitHub" class="proj-link-img" />Live Demo</a></li>
                {{end}}

                {{if (eq (.|geturltag) "github")}}
                    <li class="nav-item proj-link"><a href="{{.|removeurltag}}"><img src="/images/github.png" alt="GitHub" class="proj-link-img" />GitHub</a></li>
                {{end}}

                {{if (eq (.|geturltag) "ldjam")}} 
                    <li class="nav-item proj-link"><a href="{{.|removeurltag}}"><img src="/images/ludum_dare.png" alt="Ludum Dare" class="proj-link-img" />Ludum Dare</a></li>
                {{end}}

                {{if (eq (.|geturltag) "youtube")}}
                    <li class="nav-item proj-link"><a href="{{.|removeurltag}}"><img src="/images/youtube.png" alt="YouTube" class="proj-link-img" />YouTube</a></li>
                {{end}}

                {{if (eq (.|geturltag) "download")}}
                    <li class="nav-item proj-link"><a href="{{.|removeurltag}}"><img src="/images/download.png" alt="Download" class="proj-link-img" />Download</a></li>
                {{end}}

            {{end}}
        </ul>
    </div>
</div>
{{end}}



<h2 style="margin-top: 2em">Featured Projects</h2>
<div class="container">
    <div class="row">
        {{range $featuredProj}}
            {{template "project-card" .}}    
        {{end}}
    </div>
</div>

<h2 style="margin-top: 2em">Mini Projects</h2>
<div class="container">
    <div class="row">
        {{range $miniProj}}
            {{template "project-card" .}}
        {{end}}
    </div>
</div>

<h2 style="margin-top: 2em">Retired Projects</h2>
<div class="container">
    <div class="row">
        {{range $retiredProj}}
            {{template "project-card" .}}
        {{end}}
    </div>

</div>
